/* 1. Imports sempre no topo */
@import "tailwindcss";

/* 2. Variáveis de ambiente e cores */
:root {
  --background: #010a0f;
  --foreground: #ffffff;
}

/* 3. Configuração do Tailwind v4 */
@theme inline {
  /* Cores Personalizadas */
  --color-white: #ffffff;
  --color-dark-obsidian: #010a0f;
  --color-gray-muted: #575757;
  --color-blue-light: #b5d5e3;
  --color-yellow-soft: #fee38a;
  --color-gray-light: #cbcbcb;

  /* Conectando as variáveis do Next.js (layout.tsx) ao Tailwind */
  --font-inter: var(--font-inter);
  --font-raleway: var(--font-raleway);
}

/* 4. Estilos Globais */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
